
div{
    background-color: aquamarine;
    color:crimson;
    text-align: center;
}
ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: stretch;
    align-items: stretch;
}
li{
    border: 3px solid rebeccapurple;
    background-color: cadetblue;
    color: chartreuse;
    border-radius: 24px;
    width: 500px;
    padding: 10px;
    margin: 20px;
    list-style-type: none;
}